<!DOCTYPE html>
<html lang="en">
  {% load static %} 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block style%}
    <link rel="stylesheet" href="{% static 'css/base.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}"/>
    {% endblock%}
    <title>
      {% block title %} {% if user.is_authenticated %} E_campaign - Email
      campaign Suite | Dashboard {% else %} E_campaign - Email campaign Suite  {% endif %} {% endblock %}
    </title>
  </head>
  <body>
     
    <div class="dash-menu">
    <a href="{% url 'dashboard'%}">
      <div class="main-menu">
        <img src="{% static 'image/home.png'%}" id="home" />
        <span id="spanhome">Home</span>
      </div>
    </a>
    <a href="{% url 'setting'%}">
      <div class="setting-menu">
        <img src="{% static 'image/settings.jpg'%}" id="setting" />
        <span id="spansetting">Settings</span>
      </div>
    </a>
    <a href="{% url 'logout'%}">
      <div class="login-menu">
        <img src="{% static 'image/switch.png'%}" id="switch" />
        <span id="spanswitch">Logout</span>
      </div>
    </a>
  </div> 

{% if isredirected %}
  
<div
id="toast-danger"
style="position: fixed; top: 30px; right: 30px;z-index: 100;"
class="flex items-center p-4 mb-4 w-full max-w-xs text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
role="alert"
>
<div
    class="inline-flex flex-shrink-0 justify-center items-center w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
>
    <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
        ></path>
    </svg>
    <span class="sr-only">Error icon</span>
</div>
<div class="ml-3 text-sm font-normal">Login to access Dashboard.</div>
<button
    type="button"
    id="hide_danger"
    class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-danger"
    aria-label="Close"
>
    <span class="sr-only">Close</span>
    <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
        ></path>
    </svg>
</button>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $("#hide_danger").on("click", function () {
        $("#toast-danger").hide()
    })
</script>

</div>

{% endif %}
    {% block content %}
    
    {% block heading %}<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">E_campaign</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Email campaign suite - All in one place for email campaigns.</p>
    </div>
    <div class=" mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-center">
      
     <center> <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="{% url 'login'%}">Login</a></button></center>
    </div>
    <img src="{% static 'image/Image1.png'%}" id="image1" />
    <img src="{% static 'image/Image2.png'%}" id="image2" />
    <img src="{% static 'image/Image3.png'%}" id="image3" />
  </div>
</section> {% endblock%}</h1>
    {% block logout%}{% endblock%} {% endblock %}
  </body>
</html>
