{% extends 'E_campaign/base.html'%} {% block title %} E_campaign - Email
campaign Suite | Login {% endblock %} {% block content%}
<!-- change input type (e.g. to HTML5) -->
<script src="https://cdn.tailwindcss.com"></script>
<section class="text-gray-600 body-font ml-20">
    <form method="post">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="container px-10 py-24 mx-auto flex flex-wrap items-center">
            <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                <h1 class="title-font font-medium text-3xl text-gray-900">
                    E_campaign - Email compaign suite
                </h1>
                <p class="leading-relaxed mt-4">
                    All in one solution for email campaign.
                </p>
            </div>
            <div
                class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
            >
                <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
                    Sign In
                </h2>
                <div class="relative mb-4 form-group">
                    <label
                        for="username"
                        class="leading-7 text-sm text-gray-600"
                        >Username</label
                    >

                    <!-- {{form.username}} -->
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    />
                </div>
                <div class="relative mb-4 form-group">
                    <label
                        for="password"
                        class="leading-7 text-sm text-gray-600"
                        >Password</label
                    >
                    <!-- {{form.password}} -->
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    />
                </div>
                <button
                    type="submit"
                    class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                >
                    Sign In
                </button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
